<div>
  <img alt="" src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg" class="img-thumbnail" style="max-width: 100px"/>
  <h4 class="display-5"><%= @profile.name.capitalize %></h4>
  <p><%= @profile.bio %></p>

  <% if user_signed_in? %>
    <%= link_to 'Edit', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
  <% end %>
</div>
