<section class="card mb-2">
  <div class="card-body">
    <div>
      <h2 class="card-title"><%= @profile.name.capitalize %></h2>
      <p><%= @profile.bio %></p>

      <% if @all_permissions %>
        <%= link_to 'Edit', edit_profile_path, class: "btn btn-primary" %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</section>


