<div class="jumbotron">
  <h1 class="display-4">Olá, mundo!</h1>
  <p class="lead">Nunc pharetra sapien in eros iaculis.</p>
  <hr class="my-4">
  <p>Morbi eu justo leo. Etiam pharetra vulputate mi eget consectetur. Nunc pharetra sapien in eros iaculis, nec laoreet turpis luctus. Sed pharetra lacus ac ligula convallis accumsan.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="<%= posts_path %>" role="button">Leia as estorias</a>
  </p>
</div>
