<% @posts.each do |post| %>
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-primary rounded-3">
      <h2><%= post.title %></h2>
      <p><%= post.body.truncate 70 %></p>
      <%= link_to 'Ler mais', post, class: "btn btn-outline-light" %>
    </div>
  </div>
<% end %>

<br>
<% if user_signed_in? %>
  <%= link_to 'Nova estória', new_post_path, class: 'btn btn-primary' %>
<% end %>
